<div class="jumbotron">
  <h1 class="display-4">
    <%= @employee.first_name %>
    <%= @employee.last_name %> 
  </h1>
  <p class="lead">
    <%= @employee.employee_idn %> |
    <%= @employee.department %> |
    <%= @employee.phone %> |
    <%= @employee.email %>   
  </p>
  <%= link_to "Edit", edit_employee_path(@employee), class: "btn btn-secondary" %> 
  <%= link_to 'Delete', @employee, data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      }, class: "btn btn-danger" %>
  <%= link_to "Back", employees_path, class: "btn btn-secondary" %>

</div>


